:root {
    --dark-blue: #1f2937;
    --blue: #3882f6;
    --main-white: #f9faf8;
    --secondary-white: #e5e7eb;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    color: var(--main-white);
    font-size: 48px;
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

li {
    color: var(--main-white);
}

button {
    background-color: var(--blue);
    color: var(--main-white);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin: 8px;
    margin-left: 0;
    padding: 8px 16px;
}

.top-container {
    background-color: var(--dark-blue);
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.text-special {
    color: var(--main-white);
    font-weight: 900;
}

.links {
    display: flex;
    gap: 16px;   
}

.main1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-box {
    color: var(--secondary-white);
    margin: 20px;
    margin-left: 0;
}

.image {
    width: 400px; 
    height: 200px;
    text-align: center;
    color: white;
    background-color: gray;
    flex: 0 0 auto;
    margin: 1.5rem;
    margin-right: 0;
}

.middle-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-image {
    width: 125px;
    height: 125px;
    border: 3px solid var(--blue);
    border-radius: 8px;
    flex: 0 0 auto;
}

.boxes {
    display: flex;
    gap: 2rem;
}

.box {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quote {
    background-color: lightgray;
    color: var(--dark-blue);
    font-weight: lighter;
    font-size: 24px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
    padding: 8rem;
}

.box-text {
    text-align: center;
}

.q-container {
    display: flex;
}

.quote-special {
    font-size: 18px;
}
